{% extends "appcoder/index.html" %}

{% block main %}
    <h1>¡Hola! Bienvenidos a mi primera pagina web</h1>
    <h2>
        Mi nombre es Juan Bellini. Me gusta todo lo que tenga que ver con el mundo tecnologico, lo mas interesante para mi y donde me quiero enfoicar es en el area de Análisis de Datos, tengo experinecia en el uso de PowerBI y MySQL.
        
        Muchas gracias a todos por acompañarme y por ayudarme en esta etapa educativa que es nueva para mi. ¡Que tengan un muy lindo día!
    </h2>
{% endblock %}