{% extends "appcoder/index.html" %}

{% load static %}

{% block main %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Publicaciones</title>
    <link rel="stylesheet" href="{% static 'appcoder/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'appcoder/css/other_styles.css' %}"> <!-- Asegúrate de tener este enlace -->
</head>
<body>
    <h1>Lista de Publicaciones</h1>
    <ul>
        {% for publicacion in publicaciones %}
            <li>
                <h2>{{ publicacion.titulo }}</h2>
                <p>{{ publicacion.contenido|truncatewords:30 }}</p> <!-- Muestra una parte del contenido como adelanto -->
                
                {% if publicacion.imagen %}
                    <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" style="max-width: 300px;">
                {% else %}
                    <p>No hay imagen disponible.</p>
                {% endif %}
                
                <a href="{% url 'publicacion_detail' publicacion.id %}" class="btn btn-primary">Ver Detalles</a>
                {% if user.is_superuser %}
                    <a href="{% url 'publicacion_update' publicacion.id %}" class="btn btn-edit">Editar</a>
                    <form action="{% url 'publicacion_delete' publicacion.id %}" method="post" style="display:inline;" onsubmit="return confirmDeletion();">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script>
        function confirmDeletion() {
            return confirm("¿Estás seguro de que quieres borrar esta publicación?");
        }
    </script>
</body>
</html>
{% endblock main %}